@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

:root {
  --clr-strong-cyan: hsl(171, 66%, 44%);
  --clr-light-blue: hsl(233, 100%, 69%);
  --clr-dark-grayish-blue: hsl(210, 10%, 33%);
  --clr-grayish-blue: hsl(201, 11%, 66%);
}

body {
  background-image: url("./images/bg-header-mobile.png");
  background-repeat: no-repeat;
  background-size: 100% auto;
  font-family: "Bai Jamjuree", sans-serif;
  font-size: 18px;
}

header {
  padding: 7.75rem 0 4rem;
}

.center {
  text-align: center;
}

header .logo img {
  vertical-align: middle;
}

main {
  margin: 0 2rem;
}

.mb2p25 {
  margin-bottom: 2.25rem;
}

.mb3 {
  margin-bottom: 3rem;
}

.mb3p75 {
  margin-bottom: 3.75rem;
}

.mb4 {
  margin-bottom: 4rem;
}

.mb4p5 {
  margin-bottom: 4.5rem;
}

.mb5p5 {
  margin-bottom: 5.5rem;
}

.mb5p75 {
  margin-bottom: 5.75rem;
}

.mb6p5 {
  margin-bottom: 6.5rem;
}

.mb6p75 {
  margin-bottom: 6.75rem;
}

.mb7 {
  margin-bottom: 7rem;
}

.mb9p75 {
  margin-bottom: 9.75rem;
}

.mb10p25 {
  margin-bottom: 10.25rem;
}

.mb11p5 {
  margin-bottom: 11.75rem;
}

h1,
h2,
h3 {
  color: var(--clr-dark-grayish-blue);
  font-weight: 600;
}

h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

h2 {
  font-size: 1.75rem;
  margin-bottom: 1rem;
}

h3 {
  font-size: 1.5rem;
  margin-bottom: 0.625rem;
}

.sha h3 {
  margin-bottom: 1rem;
}
.p1,
.p2 {
  color: var(--clr-grayish-blue);
  font-size: 16.2px;
  font-weight: 400;
  line-height: 1.625rem;
  margin-bottom: 3rem;
}

.img-w100 {
  width: 100%;
  vertical-align: middle;
}

.download-links {
  display: flex;
  flex-direction: column;
  gap: 1.375rem;
}

.link-btn {
  display: block;
  width: 100%;
  padding: 1rem;
  text-align: center;
  text-decoration: none;
  color: white;
  border-radius: 3rem;

  font-size: 1.125rem;
  font-weight: 400;
  letter-spacing: 1px;
  cursor: pointer;
}

.download-links-ios {
  background-color: var(--clr-strong-cyan);
  box-shadow: 0 1rem 1rem hsla(171, 66%, 44%, 0.2);
  border-bottom: 3px solid hsl(170, 66%, 38%);
}

.download-links-mac {
  background-color: var(--clr-light-blue);
  box-shadow: 0 1rem 1rem hsla(233, 100%, 69%, 0.2);
  border-bottom: 3px solid hsl(232, 65%, 58%);
}

.img-w56 {
  width: 100%;
  vertical-align: middle;
}
.componies {
  display: grid;
  justify-items: center;
  gap: 3.25rem;
}

.componies img {
  transform: scale(0.85);
}

.mshape {
  display: grid;
  gap: 2rem;
}

.mshape img {
  height: 42px;
}

footer {
  padding: 3.25rem 0 3rem;
  background-color: hsl(220, 18%, 97%);
}

.footer-inside {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.menu a h3 {
  margin: 0;
  color: var(--clr-grayish-blue);
}
.menu {
  display: grid;
  justify-items: center;
  gap: 1.675rem;
  margin-bottom: 3rem;
}

.menu img {
  width: 3.5rem;
  height: 3.5rem;
  margin-bottom: 1.25rem;
}

.menu h3 {
  color: var(--clr-dark-grayish-blue);

  font-size: 1.125rem;
  font-weight: 600;
}
.social-link {
  display: flex;
  gap: 2.5rem;
}
.social-link a i {
  font-size: 1.75rem;
  color: var(--clr-dark-grayish-blue);
}

@media (min-width: 1000px) {
  body {
    background-image: url("./images/bg-header-desktop.png");
  }
  .w700 {
    width: 700px;
    margin-left: auto;
    margin-right: auto;
  }
  h1 {
    font-size: 2.75rem;
    margin-bottom: 1rem;
  }

  h2 {
    font-size: 2.25rem;
    margin-bottom: 1rem;
  }

  .p1 {
    font-size: 20px;
    line-height: 2rem;
  }
  .p2 {
    font-size: 18px;
    line-height: 2rem;
  }

  .download-links {
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
  }
  .link-btn {
    width: 14.25rem;
  }

  .link-btn:hover {
    opacity: 0.7;
  }
  .grid1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    /* width: min(100vw, 1400px); */
  }

  .left {
    padding-left: 7.6vw;
    width: max(35vw, 400px);
  }
  .left .center {
    text-align: left;
  }
  .img-w56 {
    width: 56vw;
    vertical-align: middle;
  }
  .mshape {
    grid-template-columns: repeat(3, 1fr);
    width: 77vw;
    margin-left: auto;
    margin-right: auto;
  }

  .componies {
    grid-template-columns: repeat(5, 1fr);
    width: 77vw;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    gap: 0;
  }

  .footer-inside {
    display: flex;
    flex-direction: row;
    margin-left: 11.5vw;
    margin-right: 11.5vw;
    align-items: center;
    justify-content: space-between;
  }
  .menu {
    grid-template-columns: repeat(4, 1fr);
    grid-auto-flow: column;
    justify-items: start;
    align-items: center;
    gap: 1.5rem;
    margin-bottom: 1rem;
  }
  .menu .span-r2 {
    grid-row: span 2;
    vertical-align: middle;
    margin: 0;
  }

  .menu a h3:hover {
    color: var(--clr-strong-cyan);
  }

  .social-link a i:hover {
    color: var(--clr-strong-cyan);
  }
}
